.search-form {
  margin:40px 5px;
  font:normal 12px sans-serif;
  box-shadow:1px 2px 4px 0 rgba(0, 0, 0, 0.08);
}

.search-form div.input-group-addon {
  background:#fff;
  color:#80A3BD;
  border-bottom-left-radius:2px;
  border-top-left-radius:2px;
  border:1px solid #b6c3cd;
  border-right:0;
}

.search-form .input-group input {
  background-color:#ffffff;
  box-shadow:none;
  color:#4E565C;
  outline:none;
  border:1px solid #b6c3cd;
  border-right:0;
  border-left:0;
}

.search-form div.input-group-btn button {
  border-bottom-right-radius:2px;
  border-top-right-radius:2px;
  background:#6caee0;
  box-shadow:1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  color:#ffffff;
  border-color:#6caee0;
  outline:none;
  opacity:0.9;
}

.search-form div.input-group-btn button:hover {
  opacity:1;
}

.search-form div.input-group-btn button:focus:active {
  background-color:#6caee0;
  color:#ffffff;
  outline:none;
}

.sidenav {
  height:100%;
  width:250px;
  position:fixed;
  z-index:1;
  top:0;
  right:0;
  background-color:#111;
  /*overflow-x:hidden;*/
  /*transition:0.5s;*/
  padding-top:60px;
}

#wrapper {
}

.navlist {
  padding:8px 8px 8px 32px;
  text-decoration:none;
  font-size:25px;
  color:#818181;
  display:block;
  /*margin-right:20px;*/
}

#wrapper {
  height:100%;
  width:20%;
  position:fixed;
  z-index:1;
  top:0;
  right:0;
  padding:60px;
}

.bodyPanel {
  height:85vh;
  margin:20px;
  margin-right:22%;
  border-radius:25px;
  background-color:rgba(255,255,255,0.5);
  border:2px solid white;
}

.searchbar {
  border-radius:20px 20px 20px 20px;
}

.modalLogin {
  border-radius:20px;
}

.btn:not(:disabled):not(.disabled) {
  /*border-radius:20px 0px 00px 20px;*/
}

.btn:not(:disabled):not(.disabled) {
}

.roundText {
}

.roundText {
  border-radius:20px 20px 20px 20px;
  /*align-items:center;*/
  height:40px;
  width:80%;
  margin-top:10px;
}

.btnRound {
  background-color:white;
  color:black;
  border-color:white;
  border-radius:20px;
  margin:10px;
  padding:px;
}

.contentCard {
  margin-top:20px;
  border-radius:10px;
  background-color:rgba(255,255,255,0.5);
  border-color:white;
}

